.container
	h2 {{user.name}}
	table.table.table-bordered
		tr.success
			th ID
			th Name
			th Age
			th
		tr
			td {{user._id}}
			td {{user.name}}
			td {{user.age}}
			td
				a.button.btn.btn-primary(ng-click='changeAge(user._id, -1)')
					span.glyphicon.glyphicon-arrow-down
						| &nbsp;
				a.button.btn.btn-primary(ng-click='changeAge(user._id, 1)')
					span.glyphicon.glyphicon-arrow-up